img{
    height: 9cm;
    width:8cm;
}
.list{
    width:8cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: darkcyan;
    height: fit-content ;
}
.list :hover{
    background-color: rgb(0, 191, 255);

}
#main{
    display: flex;
}
li{
    background-color: cyan;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 6cm;
}
li :hover{
    background-color:darkolivegreen;
}
#listMovies{
    padding-right:2;
    
}
body{
    background-color: cyan;
}
button{
    height:0.8cm;
    width: 8cm;
    background-color: darkgreen;
    font-weight: bolder;
    color: antiquewhite;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:dotted;
}